.dropper{
    position: relative;
    display:inline-block;
}
.content{
    display: none;
    position: absolute;
    background-color: coral;
    color:brown;
;
    
}
.dropper:hover .content{
    display: inline-block;
}